@font-face{
    src: url(Fonts/Montserrat/Montserrat-100.ttf);
    font-family: 'Montserrat-100';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-200.ttf);
    font-family: 'Montserrat-200';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-300.ttf);
    font-family: 'Montserrat-300';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-400.ttf);
    font-family: 'Montserrat-400';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-500.ttf);
    font-family: 'Montserrat-500';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-600.ttf);
    font-family: 'Montserrat-600';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-700.ttf);
    font-family: 'Montserrat-700';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-800.ttf);
    font-family: 'Montserrat-800';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-900.ttf);
    font-family: 'Montserrat-900';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-400-Italic.ttf);
    font-family: 'Montserrat-400-italic';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-600-Italic.ttf);
    font-family: 'Montserrat-600-italic';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-300-Italic.ttf);
    font-family: 'Montserrat-300-italic';
}

@font-face{
    src: url(Fonts/Montserrat/Montserrat-800-Italic.ttf);
    font-family: 'Montserrat-800-italic';
}