*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111010;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.header{
    width: 80%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-menu{
    width: 500px;
}

.header-menu>ul{
    display: flex;
    justify-content: space-evenly;
}

.header-menu ul>li{
    list-style: none;
}

.header-menu ul li>a{
    font-size: 18px;
    text-decoration: none;
    font-family: 'Montserrat-400';
    color: white;
}

.header-menu ul li>a:hover{
    color: thistle;
}

.phones{
    font-size: 16px;
    font-family: 'Montserrat-500';
    color: white;
}

.content{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.image{
    width: 676px;
    /* background-image: url(Images/photo_2020-12-23_12-02-09.svg); */
}

.about{
    /* width: 900px; */
    height: 900px;
    margin-left: 400px;
}

.best{
    width: 500px;
    font-size: 91px;
    font-family: 'Montserrat-700';  
    display: flex;
    justify-content: flex-end;
    color: orange;
    opacity: 30%;
}

.lorem{
    display: flex;
}

.quality{
    /* width: 140px; */
    height: 800px;
    font-size: 128px;
    font-family: 'Montserrat-700';
    opacity: 10%;
    color: #FFFFFF;
}

.quality>p{
    writing-mode: vertical-lr;
}

.delivery{
    color: white;
    width: 380px;
}

.delivery>.tit{
    font-family: 'Montserrat-700';
    font-size: 32px;
    color:  #ff9212;
}

.delivery>.text{
    font-family: 'Montserrat-300';
    font-size: 16px;
    color:  #fff;
    letter-spacing: 0.1em;
    line-height: 34px;
}